/* ======================== Default Style ======================== */
image,
view {
	box-sizing: border-box;
}
page {
	height: 100%;
}
/* ======================== Defined Style ======================== */
// 文字颜色
.text-primary {
	color: #409eff;
}

.text-success {
	color: #67c23a;
}

.text-warning {
	color: #e6a23c;
}

.text-danger {
	color: #f56c6c;
}

.text-info {
	color: #909399;
}
// 导航栏
.tabBar {
	position: fixed;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	width: 750rpx;
	height: 130rpx;
	background-color: #fff;
	box-shadow: 0 6rpx 12rpx rgba(0, 0, 0, 0.4);
	.item {
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		padding: 20rpx 40rpx;
		color: #666;
		font-size: 24rpx;
		&.active {
			color: #348bf6;
		}
		&.share {
			position: relative;
			top: -40rpx;
			image {
				width: 108rpx;
				height: 108rpx;
				background-color: #fff;
				border: 8rpx solid #fff;
				border-radius: 50%;
			}
		}
		image {
			margin-bottom: 6rpx;
			width: 52rpx;
		}
	}
}
// 缺省
.default {
	flex: 1;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	color: #999;
	font-size: 26rpx;
	background-color: #fff;
	image {
		margin-bottom: 20rpx;
		width: 150rpx;
	}
}
